.navbar{
    border: black solid 1px;
}
.principal{
    display: flexbox;
}
.card{
    margin: 20px;
    display: inline-table;
    border-radius: 10px;
}
p {
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
h6{
    margin-left: 5%;
    font-weight: normal;
    font-size: 1rem;
}
